DB_HOST=db
DB_PORT=5432
DB_NAME=notesdb
DB_USER=notesuser
DB_PASSWORD=ton_mot_de_passe_secret
APP_PORT=8000DB_HOST=db
DB_PORT=5432
DB_NAME=notesdb
DB_USER=notesuser
DB_PASSWORD=ton_mot_de_passe_secret
APP_PORT=8000
